html {
  @apply text-primary;
}

body {
  @apply bg-stone-100 font-secondary font-normal leading-relaxed text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}


a {
  @apply text-teal-500 underline;
}

.prose a {
  @apply text-teal-500 underline !important;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  @apply text-slate-500 !important;
}

// @import "tailwindcss/utilities";

.page-header {
  @apply text-5xl text-gray-500 font-black;
}

@screen sm {
  .page-header {
    @apply text-5xl;
  }
}

a.anchor {
  top: 0.35em;
  left: -0.85em;
  position: absolute;

  @apply opacity-0 hover:opacity-100 transition-opacity duration-150;
}

html {
  scroll-padding-top: 2em;
}
