---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base>
  <section class="section">
    <header
      class="mb-12 sm:mt-12 p-2 flex flex-col items-center sm:flex-row sm:space-x-4"
    >
      <div class="w-48 sm:w-2/3">
        <img src="/images/illustrations/waving.png" alt="Andy waving" />
      </div>
      <section class="max-w-lg flex flex-col py-4">
        <h1 class="text-3xl sm:text-5xl text-teal-700 font-black mb-4">
          Hi, I'm Andy.
        </h1>
        <section class="space-y-2">
          <p>
            I'm a socialist, software developer, and recovering physicist. I'm
            based in Montreal, Quebec, Canada. Here's more{" "}
            <a href="/about-me">about me</a>.
          </p>
          <p>
            This is my blog, where I post thoughts about politics, software, and
            more. The title of this blog is{" "}
            <a href="https://en.wikipedia.org/wiki/April_Theses">
              <strong class="font-black">april theses</strong>
            </a>
            , with which I share a set of initials and a birthday.
          </p>
        </section>
        <!-- <SocialButtons /> -->
      </section>
    </header>

    <div class="container">
      <Posts posts={currentPosts} class="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
