---
import Base from "@/layouts/Base.astro";
import SearchBar from "@/layouts/SearchBar";
import PostHogLayout from "@/layouts/PostHogLayout.astro";
import { getSinglePage } from "@/lib/contentParser.astro";

// Retrieve all articles
const posts = await getSinglePage("posts");
const chords = await getSinglePage("chords");

// List of items to search in
const postSearchList = posts.map((item: any) => ({
  slug: item.slug,
  data: item.data,
  content: item.body,
}));

const chordSearchList = chords.map((item: any) => ({
  slug: item.slug,
  data: item.data,
  artist: item.artist,
  content: item.body,
}));
---

<PostHogLayout>
  <Base title={`Search`}>
    <section class="section">
      <div class="container">
        <SearchBar
          client:load
          postSearchList={postSearchList}
          chordSearchList={chordSearchList}
        />
      </div>
    </section>
  </Base>
</PostHogLayout>