---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { humanize } from "@/lib/utils/textConverter";

const chords = await getSinglePage("chords");
---

<Base title={"Chords"}>
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 page-heading">Chords</h1>
      A collection of chord charts for some of my favourite songs.
    </div>

    <div class="px-4 sm:px-6 lg:px-8 pt-4">
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
          >
            <div
              class="overflow-hidden shadow ring-1 ring-black/5 sm:rounded-lg"
            >
              <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                      >Song</th
                    >
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >Artist</th
                    >
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  {
                    chords.map((chordPage) => (
                      <tr class="hover:bg-stone-100">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                          <a href={"/chords/" + chordPage.slug}>
                            {humanize(chordPage.data.title)}
                          </a>
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                          <>{humanize(chordPage.data.artist ?? "Unknown")}</>
                        </td>
                      </tr>
                    ))
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
